
@{
    ViewBag.Title = "Personal";
}

<h2>Personal</h2>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("My Cart", "Index", "Shoppingcarts")</h2>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("My Feedback", "Personal", "Feedbacks")</h2>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("My Querys", "Personal", "Special_query")</h2>
    </div>
</div>